<table mat-table [dataSource]="dataSourceFile" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- file Column -->
  <ng-container matColumnDef="file">
    <th mat-header-cell *matHeaderCellDef>Archivo</th>
    <td mat-cell *matCellDef="let element">{{ element.file }}</td>
  </ng-container>
  <!-- analysis Column -->
  <ng-container matColumnDef="analysis">
    <th mat-header-cell *matHeaderCellDef>Confianza</th>
    <td mat-cell *matCellDef="let element">
      {{ element.analysis.confidence }}
    </td>
  </ng-container>
  <!-- model Column -->
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef>Modelo</th>
    <td mat-cell *matCellDef="let element">
      {{ element.analysis.model }}
    </td>
  </ng-container>
  <!-- fields Column -->
  <ng-container matColumnDef="fields">
    <th mat-header-cell *matHeaderCellDef>Datos</th>
    <td mat-cell *matCellDef="let element">
      <div *ngFor="let field of element.analysis.fields">
        <div>
          {{ field.field }} : {{ field.content }} - Confianza :
          {{ field.confidence }}
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
