<div class="form">
  <mat-list role="list" *ngFor="let file of analizedFile">
    <mat-list-item role="listitem">
      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary">Nombre Archivo: {{ file.fileName }}</mat-chip>
        <mat-chip color="primary">Modelo: {{ file.modelName }}</mat-chip>
        <mat-chip color="accent">Model confidence: {{ file.modelConfidence }}</mat-chip>
      </mat-chip-list>
      </mat-list-item>
  </mat-list>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <ng-container
    *ngFor="let column of columns"
    [matColumnDef]="column.columnDef"
  >
    <th mat-header-cell *matHeaderCellDef>
      {{ column.header }}
    </th>
    <td mat-cell *matCellDef="let row">
      {{ column.cell(row) }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
